
# Core Libraries
pandas
numpy
scikit-learn
matplotlib
seaborn
geopandas

# Machine Learning
xgboost
lightgbm
shap

# Visualization & Mapping
folium
mapboxgl

# App/Deployment
streamlit

# Notebook Environment
jupyterlab
notebook

# Data Acquisition
beautifulsoup4
requests